PYTHON CAPSTONE PROJECT

TASK - 1

There are three different tables as given above. Please make three dataframe in python and save them as three .csv files. From Task 2 to Task 10, use the saved .csv files only.

In [12]:
# Import the pandas library for data manipulation and analysis
import pandas as pd

# -------------------- Project DataFrame --------------------

# Define a dictionary containing project-related data
project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005", "A002", "A005","A003", "A001", "A003", "A001", "A004","A004", "A005"],  # Employee IDs
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5", "Project 6", "Project 7",
                "Project 8","Project 9","Project 10", "Project 11", "Project 12", "Project 13","Project 14"],  # Project names
    "Cost": [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000,3000000,200000],  # Cost of projects (some missing)
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished", "Failed","Finished","Failed","Ongoing",
               "Finished", "Failed", "Ongoing", "Finished", "Finished"]  # Current status of each project
}

# Create a DataFrame called df_project from the project_data dictionary
df_project = pd.DataFrame(project_data)

# -------------------- Employee DataFrame --------------------

# Define a dictionary containing employee information
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],  # Employee IDs
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],  # Names
    "Gender": ["M", "F", "M", "F", "F"],  # Gender of employees
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],  # City of residence
    "Age": [25, 27, 29, 31, 30]  # Age of employees
}

# Create a DataFrame called df_employee from the employee_data dictionary
df_employee = pd.DataFrame(employee_data)

# -------------------- Designation Level DataFrame --------------------

# Create a DataFrame df_seniority that contains employee ID and their designation level
df_seniority = pd.DataFrame({
    "ID": ["A001", "A002", "A003", "A004", "A005"],  # Employee IDs
    "Designation Level": [2, 2, 3, 2, 3]  # Designation level (e.g., 2 = junior, 3 = senior)
})

# -------------------- Save DataFrames as CSV Files --------------------

# Save the df_project DataFrame to a CSV file named "project.csv" without the index column
df_project.to_csv("project.csv", index=False)

# Save the df_employee DataFrame to a CSV file named "employee.csv" without the index column
df_employee.to_csv("employee.csv", index=False)

# Save the df_seniority DataFrame to a CSV file named "seniority.csv" without the index column
df_seniority.to_csv("seniority.csv", index=False)

TASK - 2

The cost column in the dataframe “Project” has some missing values. Your task is to compute these missing values. Replace the missing values by running average. You should use the “For” loop for this task.

In [13]:
# Import the numpy library, commonly used for numerical operations
import numpy as np

# Read the "project.csv" file into a DataFrame called df_project
df_project = pd.read_csv("project.csv")

# Convert the "Cost" column from the DataFrame into a list for easier manipulation
costs = df_project["Cost"].tolist()

# Initialize a variable to keep the running sum of costs (excluding NaNs)
running_sum = 0

# Initialize a counter to keep track of the number of valid (non-NaN) cost values
count = 0

# Loop through each cost in the list
for i in range(len(costs)):
    # Check if the current cost is NaN (missing value)
    if np.isnan(costs[i]):
        # If there are previous valid cost values, replace NaN with the average so far
        if count > 0:
            costs[i] = running_sum / count
        # If no valid values yet, replace NaN with 0
        else:
            costs[i] = 0
    # Add the current (now valid) cost to the running sum
    running_sum += costs[i]
    # Increase the count of valid entries
    count += 1

# Update the "Cost" column in the DataFrame with the filled list
df_project["Cost"] = costs

# Save the updated DataFrame back to "project.csv", without the index column
df_project.to_csv("project.csv", index=False)

TASK - 3

Split the name column in the Employee dataframe into two new columns “First Name”,and “LastName” and remove the older “name” column.

In [14]:
# Load the employee.csv file into a DataFrame
df_employee = pd.read_csv("employee.csv")

# Split the 'Name' column into two new columns: 'First Name' and 'Last Name'
df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True)

# Drop the original 'Name' column from the DataFrame
df_employee.drop(columns=['Name'], inplace=True)

# Save the updated DataFrame back to employee.csv
df_employee.to_csv("employee.csv", index=False)

TASK - 4

Join all three dataframes in one single dataframe. Name it “Final”

In [15]:
# Read the project data from "project.csv" into a DataFrame
df_project = pd.read_csv("project.csv")

# Read the employee data from "employee.csv" into a DataFrame
df_employee = pd.read_csv("employee.csv")

# Read the seniority (designation level) data from "seniority.csv" into a DataFrame
df_seniority = pd.read_csv("seniority.csv")

# Merge project and employee data on the common "ID" column
final = pd.merge(df_project, df_employee, on="ID")

# Merge the resulting DataFrame with seniority data on the same "ID" column
final = pd.merge(final, df_seniority, on="ID")

# Save the final merged DataFrame to "final.csv" without writing the index column
final.to_csv("final.csv", index=False)

TASK - 5

Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project cost only to employees who have finished the projects.

In [16]:
# Read the merged final data from "final.csv" into a DataFrame
final = pd.read_csv("final.csv")

# Create a new column 'Bonus':
# For each row, if the project status is 'Finished', set Bonus = 5% of the project Cost
# Otherwise, set Bonus to 0
final['Bonus'] = final.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)

# Save the updated DataFrame (with the Bonus column) back to "final.csv" without including the index column
final.to_csv("final.csv", index=False)

TASK - 6

Demote the designation level by 1, whose projects have status “fail”. Delete the employees record whose designation level is above 4.

In [17]:
# Load the merged and updated dataset from "final.csv" into a DataFrame
final = pd.read_csv("final.csv")

# For all rows where the project status is 'Failed', decrease (demote) the employee's Designation Level by 1
final.loc[final['Status'] == 'Failed', 'Designation Level'] += 1

# Keep only the rows where Designation Level is less than or equal to 4
# (i.e., delete records where level became more than 4)
final = final[final['Designation Level'] <= 4]

# Save the filtered and updated DataFrame back to "final.csv", without the index column
final.to_csv("final.csv", index=False)

TASK - 7

Add “Mr.” and “Mrs.” to the first name column and drop the gender column.

In [18]:
# Load the data from "final.csv" into a DataFrame
final = pd.read_csv("final.csv")

# Add "Mr." or "Mrs." prefix to the 'First Name' column based on the 'Gender' column
# If Gender is "M", prefix with "Mr.", else with "Mrs."
final['First Name'] = final.apply(lambda x: ("Mr. " if x['Gender'] == "M" else "Mrs. ") + x['First Name'], axis=1)

# Drop the 'Gender' column as it is no longer needed
final.drop(columns=['Gender'], inplace=True)

# Save the updated DataFrame back to "final.csv", without writing the index column
final.to_csv("final.csv", index=False)

TASK - 8 

Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.

In [19]:
# Load the final dataset from "final.csv"
final = pd.read_csv("final.csv")

# For employees older than 29 years, increase (promote) their Designation Level by 1
final.loc[final['Age'] > 29, 'Designation Level'] -= 1

# Save the updated DataFrame back to "final.csv" without the index column
final.to_csv("final.csv", index=False)

TASK - 9

Add the cost of all projects for each Employee and save it in new dataframe “TotalProjCost” with three columns ID, First Name, and Total cost .

In [20]:
# Load the merged dataset from "final.csv"
final = pd.read_csv("final.csv")

# Group by 'ID' and 'First Name' and sum the 'Cost' of projects for each employee
TotalProjCost = final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Rename columns for clarity
TotalProjCost.columns = ['ID', 'First Name', 'Total cost']

# Save the new DataFrame to CSV without index
TotalProjCost.to_csv("total_project_cost.csv", index=False)

TASK - 10

Print all the employee details whose city name contains the letter “o” in it.

In [21]:
# Load the merged dataset from "final.csv" into a DataFrame
final = pd.read_csv("final.csv")

# Filter rows where the 'City' column contains the letter 'o' (case-insensitive)
# .str.lower() converts city names to lowercase
# .str.contains('o') checks if 'o' is in the city name
result = final[final['City'].str.lower().str.contains('o')]

# Print the filtered DataFrame containing employee details
result

,ID,Project,Cost,Status,City,Age,First Name,Last Name,Designation Level,Bonus
1,A002,Project 2,2000000.0,Ongoing,London,27,Mrs. Alice,Luxumberg,2,0.0
3,A004,Project 4,5500000.0,Ongoing,Newyork,31,Mrs. Nina,Adgra,1,0.0
5,A002,Project 6,680000.0,Failed,London,27,Mrs. Alice,Luxumberg,3,0.0
11,A004,Project 12,1000000.0,Ongoing,Newyork,31,Mrs. Nina,Adgra,1,0.0
12,A004,Project 13,3000000.0,Finished,Newyork,31,Mrs. Nina,Adgra,1,150000.0